.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 20px;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.navlink {
    margin: 20px;
   
}

.navlink , a {
    text-decoration: none;
    
}

.navlink :hover{
    color: red;
}
